body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
}

.container {
  width: 80%;
  margin: auto;
}

h1 {
  text-align: center;
  color: #444;
}

.masalar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.masa {
  border: 2px solid #ccc;
  padding: 20px;
  width: 45%;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 10px 0;
}

.masa h3 {
  color: #333;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

button:hover {
  background-color: #45a049;
}

.menu {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 9999;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.siparisler {
  margin-top: 10px;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
}

.siparisler div {
  margin-bottom: 5px;
}

.odeme-button {
  background-color: #FF5733;
}

.odeme-button:hover {
  background-color: #E74C3C;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}
